doctype html
html(lang="en")
  head
    script(src="./static/js/thing.js")
    //- script if ("serviceWorker" in navigator) { window.addEventListener("load", function(){ navigator.serviceWorker.register("./static/js/sw.js")}) }
    block head
  body(vocab="http://schema.org")
    .body
      block content