extends ../shared/views/layout.pug
include ../shared/components/card/card-component.pug
include ../shared/views/mixins/js-loader.pug
include ../shared/views/mixins/style-loader.pug
  
block content
  +style-loader('/assets/css/home/home.style.css')
  +style-loader('/assets/css/shared/components/card/card-component.style.css')
  h1 Typescript Starter
  p Welcome to a simpler way to build dynamic websites adhering to the principle of progressive enhancement.
  p No more Single Page App (SPA) nonsense. Do it for the users sake.
  p As a point of reference I give you #[a(href="http://motherfuckingwebsite.com/") the ultimate website]
  <hr>
  +card-component()(id="card-1" data-meta="meta data v1")
    p card component 1
  +card-component()(id="card-2" data-meta="meta data v2")
    p card component 2
  +card-component()(id="card-3" data-meta="meta data v3")
    p card component 3
  +js-loader([
    '/shared/components/card/card-component.script.js'
  ])
  