doctype html
html(lang="en")
  head
    //- meta(name="title", content= pageTitle || title)
    //- meta(name="description", content= pageDescription || description)
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body(vocab="http://schema.org")
    .body
      block content
    //- if reloadScript
    //-   script(src="/reload/reload.js")