doctype html
html(lang="en")
  head
    title Typescript Starter
    meta(name="title", content="Typescript Starter")
    meta(name="description", content="Typescript Starter")
    if (global.metaElements || []).length
      each attributes in global.metaElements
        meta()&attributes(attributes)
    link(rel="stylesheet" type="text/css" href= global.static('/css/shared/styles/global.style.css'))
    block head
  body(vocab="http://schema.org")
    include ./scripts/sw.pug
    .body
      block content
    //- if reloadScript
    //-   script(src="/reload/reload.js")